[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/FFmpeg/FFmpeg
	branch = release/4.2
[submodule "openh264"]
	path = openh264
	url = https://github.com/VernierST/openh264
	branch = wasm_build
